<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="post" autocomplete="off">

					<div class="wrap-input100 validate-input" data-validate = "Introduzca usuario!">
						<input class="input100" type="text" name="Login[username]" placeholder="Usuario">
					</div>
					<br>

					<div class="wrap-input100 validate-input" data-validate="Introduzca Contrase&ntilde;a!">
						<input class="input100" type="password" name="Login[password]" placeholder="Contraseña">
					</div>
					<br>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn">
							Iniciar Sesi&oacute;n
			 			</button>
					</div>

				</form>

</body>
</html>